html, body {
    background-color: #DDDFD4;
    font-family: 'Raleway', sans-serif;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-nav {
    margin: 0 -15px;
}

/* link */
.navbar-default .navbar-nav li a {
    color: #777;
}

.navbar-default .navbar-nav li a:hover {
    color: #FFFFFF;
    background-color: #3FB0AC;
}

.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover, 
.navbar-default .navbar-nav .active a:focus {
    color: #FFFFFF;
    background-color: #3FB0AC;
}

.navbar-default .navbar-nav .open a, 
.navbar-default .navbar-nav .open a:hover, 
.navbar-default .navbar-nav .open a:focus {
    color: #FFFFFF;
    background-color: #3FB0AC;
}


footer {
    margin: 3% 0 0;
    padding: .5%;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
}

.container {
    margin: 5% auto;
}

.container question form p {
    display: inline-block;
    margin: 1% 5% 2% 0;
}

/*  QUESTION SUBMISSION    */

.questions {
    display: block;
}

.question-set {
    display: block;
}

.question-set:last-of-type {
    display: inline-block;
}

input[type="text"]{
    display: inline-block;
}


/*   CARD FLIP   */

.flip {
    -webkit-perspective: 800;
    width: 400px;
    height: 200px;
    position: relative;
    margin: 50px auto;
}

.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
}

.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    color: white;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    font-weight: 100;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    background-color: #F06A6A;
    cursor: pointer;
}

.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    background-color: #1BDE7F;
    cursor: pointer;
}

.face:after {
    content: "\f01e";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    text-align: center;
    margin-left: 3%;
    font-size: 0.6em;
}

.answer-question {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.typeanswer {
    order: 1;
    margin: 0 0 0 auto;
    padding: 1em;
    resize: none;
}

.submit-answer {
    order: 2;
    margin: 0 auto 0 2em;
}


@media screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}

@media screen and (min-width: 1200px) {

}